
# Navigation
public net.minecraft.world.level.pathfinder.Path nodes
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation getSurfaceY()I

# Move Control
protected net.minecraft.world.entity.ai.control.MoveControl isWalkable(FF)Z

# Entity
protected net.minecraft.world.entity.Entity collide(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3;